*{
  margin: 0;
  padding:0;
}
body{
  background: rgb(158, 108, 204); /* ✅ Ensures full-page background */
  min-height: 100vh;   /* Ensures it covers the entire viewport */
  font-family: 'poppins';
}
 .correct{
  
  background-color: #00d397;
 
 
}
.wrong{
  background-color: #FF4A4A;

}
.loading{
  font-size: 40px;
  font-weight: 600;
}